<div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
</div>
<div class="body">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-5">
                <h2>Forgot Password</h2>
                <form (ngSubmit)="sendOTP()" #forgotPasswordForm="ngForm">
                    <div class="form-group">
                        <label for="email">Enter your email address:</label>
                        <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="email">
                    </div>
                    <button type="submit" class="btn btn-primary">Send OTP</button>
                </form>
                <hr>
                <form *ngIf="showPasswordFields" (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm">
                    <div class="form-group">
                        <label for="otp">Enter OTP:</label>
                        <input type="text" class="form-control" id="otp" name="otp" required [(ngModel)]="otp">
                    </div>
                    <div class="form-group">
                        <label for="newPassword">Enter New Password:</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" required [(ngModel)]="newPassword">
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm New Password:</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required [(ngModel)]="confirmPassword">
                    </div>
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </form>
            </div>
        </div>
       
        
    </div>
</div>

