
.container{
    margin: auto;
    text-align: center;
    color: white;
}
.form-group{
    margin-bottom: 10px;
}

.body{
    padding-top: 100px;
    background: url(https://user-images.githubusercontent.com/25878302/50690661-72ad2280-102e-11e9-814d-68b5d5e38c21.jpg) #132533  no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    
}
.error-message {
    color: red; 
    margin-top: 5px;
    text-align: center;
    background-color: white;
  }

