

   <body>
      <div id="error-page">
         <div class="content">
            <h2 class="header" data-text="401">
               401
            </h2>
            <h4 data-text="Opps! Page not found">
               Opps! You Are Not Authorized
            </h4>
            <p>
               Sorry, the page you're looking for doesn't have access. please contact the administrator.
            </p>
            <div class="btns">
               <a href="/login">return home</a>
               <a href="/">report problem</a>
            </div>
         </div>
      </div>
   </body>
