<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sidebar</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> -->
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
    rel="stylesheet"
  />
</head>
<body>
  <div class="navbar-container">
    <nav>
      <ul class="menu">
        <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
       
        <li><a>About    </a></li>
        <li><a class="">Contact</a></li>
      </ul>
    </nav>
    <!-- Button for logged-in users -->
    <button class="btn-login" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</button>
  </div>
</body>
</html>
